<MudDialog>
    <DialogContent>
        @if (Users is not null)
        {
            <MudSimpleTable Style="max-height:400px; overflow-y:auto" Dense="true" Hover="true">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Password</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Users)
                    {
                        <tr>
                            <td>@user.FullName</td>
                            <td>@user.Username</td>
                            <td>@user.PlainTextPassword</td>
                        </tr>
                    }
                </tbody>
            </MudSimpleTable>
        }
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" Color="Color.Primary">Ok</MudButton>
    </DialogActions>
</MudDialog>
@code {

    [Parameter]
    public IEnumerable<UserInfoDTO> Users { get; set; }

    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;

    void Cancel() => MudDialog.Cancel();
}